.data-left {
    background: white;
    //display: none;
    position: absolute;
    width: 51vw;
    height: 10vh;
    border-radius: 10px;
    left: 14.5vw;
    bottom: -5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    @include breakpoint-large {
        width: 13vw;
        height: 9vh;
        bottom: 16vh;
        left: auto;
        right: 2rem;
    }

    &__numbers {
        color: $color-text-quaternary;
        margin-right: .5rem;
        font-size: 34px;
        font-weight: $font-weight-bold;
    }

    &__text {
        color: $color-text-secondary;
        margin-left: .5rem;
        text-transform: uppercase;
    }

    &__arrow {
        display: none;
        @include breakpoint-large {
            display: block;
            border:1px solid white;
            border-color:transparent white transparent  transparent;
            border-width:3vh;
            position: absolute;
            bottom: -2.7vh;
            right: 0;
        }

    }

}